<div class="container">
  <div class = "outer">
    <div class = "inner">
<!--   <div class="row">
    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
      <div class="well"> -->
        <!-- hidden input fields -->
        <input id="beat-order" type="hidden" value="<%= @beat_order %>">
        <input id="game-id" type="hidden" value="<%= @game.id %>">
        <input id="campaign-id" type="hidden" value="<%= @campaign.id %>">
          <% @campaign.beats.each do |x| %>
          <div id="beats-<%= x.ordinance %>" class="md-preview" style="display: none">
            <%= Markdown.new(x.content).to_html.html_safe %>
          </div>
          <% end %>
<!--       </div>
    </div>
  </div> -->
    </div>
  </div>
</div>
<nav class="game-nav navbar navbar-default navbar-fixed-bottom" id="play-game-nav">
  <div class="game-nav-wrapper">
    <div class="col-xs-4">
      <button class="btn btn-default prev-beat">PREV</button>
    </div>
    <div class="col-xs-4">
      <a href="/campaigns/<%= @campaign.id %>"><button class="btn btn-default">EXIT</button></a>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-default next-beat">NEXT</button>
    </div>
  </div>
</nav>

