<div class="container">
  <div class = "outer">
    <div class = "inner">
<!--   <div class="row">
    <div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
      <div class="well"> -->
        <!-- hidden input fields -->
        <input id="beat-order" type="hidden" value="<%= @beat_order %>">
        <input id="game-id" type="hidden" value="<%= @game.id %>">
        <input id="campaign-id" type="hidden" value="<%= @campaign.id %>">
          <% @campaign_beats.each do |x| %>
          <div id="beats-<%= x.ordinance %>" class="md-preview fade-in" style="display: none">
            <%= Markdown.new(x.content).to_html.html_safe %>
          </div>
          <% end %>
<!--       </div>
    </div>
  </div> -->
    </div>
  </div>
</div>

<!-- cue card -->
<% @campaign_beats.each do |x| %>
  <% unless x.cue.nil? %>
  <nav id="cues-<%= x.ordinance %>" class="cue-cards" style="display: none">
    <a class="cue-card-btn"><span class="glyphicon glyphicon-question-sign"></span></a>
    <div   class="form-group">
      <div class="well">
        <div class="md-preview">
          <%= Markdown.new(x.cue).to_html.html_safe %>
        </div>
      </div>
    </div>
  </nav>
  <% end %>
<% end %>

<!-- game navbar -->
<nav class="game-nav navbar navbar-default navbar-fixed-bottom" id="play-game-nav">
  <div id="game-nav-triangle"><a href="#"><span class="glyphicon glyphicon-triangle-top"></span></a></div>
  <div class="game-nav-wrapper">
    <div class="col-xs-4">
      <button class="btn btn-default prev-beat">PREV</button>
    </div>
    <div class="col-xs-4">
      <a href="/campaigns/<%= @campaign.id %>"><button class="btn btn-default">EXIT</button></a>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-default next-beat">NEXT</button>
    </div>
  </div>
</nav>

